body {
    background-color: #fafafa;
    color: #808080;
}

.static {
    position: fixed;
}

p {
    font-family: "Nunito", sans-serif; 
    font-size: 1.8em;
}

.backColor {
    background-color: #fafafa;
}

h1 {
    font-family: "Nixie One", sans-serif;
    font-size: 4em;
}

h2 {
    font-family: "Nunito", sans-serif;
}

h4 {
    font-family: "Nunito", sans-serif;
}

.navText a {
    font-family: "Nunito", sans-serif;
    font-size: 1.8em;
    color: #cccccc;
}

.space {
    margin-top: 20%;
    margin-bottom: 20%;
}

.spaceSm {
    margin-top: 2.5%;
}

.mainBack { 
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/mainBgrd.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bottom {
    height: 300px;
    width: 100%;
}

.printStoryOne {
    height: 550px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/printStory1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.printStoryTwo {
    height: 550px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/printStory2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.printStoryThree {
    height: 550px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/printStory3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vertAlign {
    margin-top: 200px;
}

.printText {
    color: white;
}