body {
    background-color: #fafafa;
    color: #808080;
}

.static {
    position: fixed;
}

p {
   font-size: 1.8em;
}

.backColor {
    background-color: #fafafa;
}

h1 {
    font-size: 4em;
}

a {
    font-size: 1.8em;
    color: #cccccc;
}

.space {
    margin-top: 20%;
    margin-bottom: 25%;
}

.spaceSm {
    margin-top: 2.5%;
}